body { /* our usual body */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 40px;
}

.container { /* this will make the body inside a box to look like a mini application */
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3, h4 { margin: 0; } /* the expense tracker text and all */
h1 { margin: 5px 0 15px; }

.inc-exp-container { /* income and expense display box */
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 5px;
}

.inc-exp-container > div { /* div of income expense box */
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type { /*  */
    border-right: 1px solid #dedede;
}

.money { font-size: 20px; font-weight: bold; margin: 5px 0 0; } /* money display if income or expense */
.money.plus { color: #2ecc71; }
.money.minus { color: #c0392b; }

.list { list-style-type: none; padding: 0; margin-bottom: 40px; }
.list li {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}

.list li.plus { border-right: 5px solid #2ecc71; }
.list li.minus { border-right: 5px solid #c0392b; }

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.form-control { margin: 10px 0; }
label { display: inline-block; margin: 10px 0 5px; }
input[type="text"], input[type="number"] {
    border: 1px solid #ccc; border-radius: 3px; padding: 10px; width: 100%; box-sizing: border-box;
}

.btn {
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    color: #fff;
    border: 0;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.error-msg {
    color: #c0392b;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}